{% extends 'base.html.twig' %}

{% block title %}Eliminar rol{% endblock %}

{% block body %}
<h1>Eliminar rol</h1>
    <p>¿Estás seguro de que deseas eliminar el rol {{ rol.nombre }}?</p>

    <form method="post" action="{{ path('roles_delete', {'id': rol.id}) }}">
        <input type="submit" value="Eliminar">
        <a href="{{ path('roles_index') }}">Cancelar</a>
    </form>
{% endblock %}
