{% extends 'base.html.twig' %}

{% block title %}Eliminar empleado{% endblock %}

{% block body %}
    <h1>Eliminar Empleado</h1>
    <p>¿Estás seguro de que deseas eliminar al empleado {{ empleado.nombre }}?</p>

    <form method="post" action="{{ path('empleados_delete', {'id': empleado.id}) }}">
        <input type="submit" value="Eliminar">
        <a href="{{ path('empleados_index') }}">Cancelar</a>
    </form>
{% endblock %}
